{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>Ktradev's Landing</title>
		<link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
		<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w==" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
		<script src="https://kit.fontawesome.com/6878bbf26a.js" crossorigin="anonymous"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-79PMJ81D2Z"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

		  	gtag('config', 'G-79PMJ81D2Z');
		</script>
	</head>
	<body>
		<nav class="flex justify-center lg:w-6/12 md:w-9/12 w-full mx-auto py-4 mt-8 pl-5 pr-10">
			<span class="font-semibold w-full">
				<a href="{% url 'landing' %}" class="mx-2">Landing</a>
				<a href="{% url 'profile' %}" class="mx-2">Profile</a>
				<a href="https://blog.ktradev.com/" class="mx-2">Blog</a>
			</span>
			<span id="moon" class="ml-auto"><i class="far fa-moon fa-lg cursor-pointer"></i></span>
		</nav>
		<div class="flex justify-center items-center">
			<div class="flex flex-col lg:w-6/12 md:w-9/12 w-full px-6 pb-4">
				<h1 class="text-4xl my-36 mb-12 px-2">Hey, My name is Kenny. I'm an aspiring full stack developer.</h1>
				<a id="cta" class="border-2 rounded-full px-6 py-1.5 font-semibold text-center" href="{% url 'contact' %}">Contact me</a>
				<div class="flex items-center justify-center w-full h-64 border-4 border-dashed mt-16 mb-4 cursor-pointer project"><i class="fas fa-image fa-2x"></i></div>
				<div class="flex items-center justify-center w-full h-64 border-4 border-dashed my-4 cursor-pointer project"><i class="fas fa-image fa-2x"></i></div>
				<div class="flex items-center justify-center w-full h-64 border-4 border-dashed my-4 cursor-pointer project"><i class="fas fa-image fa-2x"></i></div>
				<div class="flex items-center justify-center w-full h-64 border-4 border-dashed my-4 cursor-pointer project"><i class="fas fa-image fa-2x"></i></div>
			</div>
		</div>
		<footer class="flex justify-center items-center">
			<div class="flex flex-col lg:w-6/12 md:w-9/12 w-full px-6 pb-12">
				<div class="text-center my-6">
					<a href="https://twitter.com/Ktradev"><i class="fab fa-twitter fa-lg mx-2 cursor-pointer"></i></a>
					<a href="https://github.com/Ktradev"><i class="fab fa-github fa-lg mx-2 cursor-pointer"></i></a>
					<a href="https://dribbble.com/Ktradev"><i class="fab fa-dribbble fa-lg mx-2 cursor-pointer"></i></a>
					<a href="https://www.linkedin.com/in/ktradev/"><i class="fab fa-linkedin-in fa-lg mx-2 cursor-pointer"></i></a>
				</div>
				<p class="text-center my-2">© 2021 Kenny Tran. All rights reserved.</p>
			</div>
		</footer>
		<script src="{% static 'js/landing.js' %}"></script>
	</body>
</html>