::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

* {
    -webkit-tap-highlight-color: transparent;
}

h3, small, span, p{
	word-wrap: break-word;
}